.product img{
    width:200px;
    height:200px;
    border-radius: 50%;

    
}
.product:hover img{
    rotate:90deg;
}
.product{
    width:100%;
    height: 350px;
    background-color:yellow;
    margin-bottom: 2px;
    text-align: center;
    
}
.button{
    background-color: tomato;
    width: 200px;
    height: 35px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}